
.idea/.name

.idea/Bottled-Sportcourts.iml

.idea/encodings.xml

.idea/dictionaries/vitaliyharchenko.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
