.theme-showcase {
    margin-top: 0px;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

#rotator {
    position: relative;
    width: 160px;
    height: 160px;
}

#rotator ul li {
    float: left;
    position: absolute;
    list-style: none;
}

#rotator ul li.show {
    z-index: 500;
}

.about {
    /*width: 100%;*/
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    margin-top: 20px;
    text-align: left;
}

#about_photo1 {
    float: right;
    padding-left: 50px;
    padding-bottom: 30px;
    margin-right: 0px;
    margin-top: 106px;
    display: block;
}

.about-high {
    margin-top: -5px;
}

.registration .row {
    margin-bottom: 10px;
}

.profile {
    margin-top: 60px;
}

#map_canvas {
    height: 500px;
}

@media (max-width: 500px) {

    .about {
        margin-top: 30px;
    }

    #about_photo1 {
        width: 100%;
        display: inline;
        float: left;
        padding: 0px;
        margin:0;
        padding-bottom: 10px;
    }

    #about_photo1 img {
        width: 100%;
    }
}