body{
    padding-top:0px !important;
}

.theme-showcase {
    margin-top: 0px;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

.about {
    /*width: 100%;*/
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    margin-top: 20px;
    text-align: left;
    width: 96% !important;
}

#about_photo1 {
    float: right;
    padding-left: 50px;
    padding-bottom: 30px;
    margin-right: 0px;
    margin-top: 106px;
    display: block;
}

.about-high {
    margin-top: -5px;
}

.registration .row {
    margin-bottom: 10px;
}

.profile {
    margin-top: 60px;
}

#map_canvas {
    height: 500px;
}

@media (max-width: 500px) {

    .about {
        margin-top: 30px;
    }

    #about_photo1 {
        width: 100%;
        display: inline;
        float: left;
        padding: 0px;
        margin:0;
        padding-bottom: 10px;
    }

    #about_photo1 img {
        width: 100%;
    }
}

.panel-body a{
    font-size: 14px;
}

.organizer a{
    font-size: 95%;
    position: relative;
}

.organizer img{
    margin-top: -4px;
}

#auth_button{
    background-color: rgb(99, 131, 168);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-size: 11px;
    height: 26px;
    line-height: 13px;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    vertical-align: top;
    white-space: nowrap;
    width: 168px;
    zoom: 1;
    margin: 0;
    margin-bottom: 0px;
    clear: both;
}

.profile-avatar{
    max-width:300px;
}

.round {
    border-radius: 100px; /* Радиус скругления */
    box-shadow: 0 0 0px #666; /* Параметры тени */
}

.panel_head{
    height: 21px;
}

.header_avatar {
    margin-top: -5px;
    margin-bottom: -5px;
}

#footerright{
    float:right;
}

#footerleft{
    float:left;
}

@media all and (max-width : 800px) {
    #reformal_tab{
        display:none !important;
    }
}