.theme-showcase {
    margin-top: 0px;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

#rotator {
    position: relative;
    width: 160px;
    height: 160px;
}

#rotator ul li {
    float: left;
    position: absolute;
    list-style: none;
}

#rotator ul li.show {
    z-index: 500;
}

.about {
    /*width: 100%;*/
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    margin-top: 20px;
    text-align: left;
    width: 96% !important;
}

#about_photo1 {
    float: right;
    padding-left: 50px;
    padding-bottom: 30px;
    margin-right: 0px;
    margin-top: 106px;
    display: block;
}

.about-high {
    margin-top: -5px;
}

.registration .row {
    margin-bottom: 10px;
}

.profile {
    margin-top: 60px;
}

#map_canvas {
    height: 500px;
}

@media (max-width: 500px) {

    .about {
        margin-top: 30px;
    }

    #about_photo1 {
        width: 100%;
        display: inline;
        float: left;
        padding: 0px;
        margin:0;
        padding-bottom: 10px;
    }

    #about_photo1 img {
        width: 100%;
    }
}

.panel-body a{
    font-size: 14px;
}

#auth_button{
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-property: background-color;
    -webkit-transition-timing-function: ease-in-out;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(99, 131, 168);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-size: 11px;
    height: 13px;
    line-height: 13px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    vertical-align: top;
    white-space: nowrap;
    width: 168px;
    zoom: 1;
}